body{
    background-image: url("bg.jpg");
    background-size: 100% 110%;
}
.container{
    display: grid;
    margin-top: 0px;
    margin-left: 30px;
    grid-template-columns: repeat(10, auto);
    background: linear-gradient(to left top,
    rgba(0, 0, 0, 0.1), rgba(47, 118, 151, 0.9));
    height: 500px;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
}

.flexcont{
    display: flex;
    align-items: center;
}

.item{
    background: linear-gradient(to left top,
    rgba(0, 0, 0, 0.5), rgba(20, 17, 228, 0.9));
    margin: 2px 2px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
 .item:hover{
    background: linear-gradient(to left top,
    rgba(190, 183, 183, 0.5), rgba(54, 111, 138, 0.9));
 }

 h1{
     text-align: center;
     font-family: 'Baloo Bhai 2', cursive;
     font-size: 60px;
     background: linear-gradient(to left,
    rgba(20, 19, 19, 0.5), rgba(218, 113, 16, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px rgba(117, 209, 31, 0.9);
    /* border: 5px solid rgb(47, 102, 138); */
 }

 .container2{
     margin-left: 150px;
     /* background: linear-gradient(to left top,
    rgba(190, 183, 183, 0.5), rgba(56, 32, 143, 0.9)); */
    cursor: pointer;
    border-radius: 10px;
 }

 .content{
     font-family: 'Baloo Bhai 2', cursive;
     font-size: 30px;
     font-weight: bold;
     background: linear-gradient(to left,
    rgba(201, 149, 80, 0.8), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
 }
 .item1{
    background-image: url("danger.png");
    background-size: 40px 40px;
    margin: 2px 2px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
 }

 .item2{
    background-image: url("danger1.png");
    background-size: 40px 40px;
    margin: 2px 2px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
 }

 .create{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to left,
   rgba(201, 149, 80, 0.8), rgb(60, 216, 21));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-left: 10px;
 }